.video-card-parent{
    width: 400px;
    height: 350px;
    border: solid 1px black;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}
.vid-title{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 0.2rem;

}
.vid-title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.thumbnail:hover{
    cursor: pointer;
    
}
.video-card-parent iframe{
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.creator{
    text-align: left;
    padding-left: 1rem;
}
.video-desc-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.function-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}
.action-btn{
    background-color: rgb(220, 220, 220);
    padding: 0.4rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.action-btn:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}

.like-btn {
    border: none;
    background-color: rgba(1, 1, 1, 0);
}