.video-card-for-playlist-parent{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 2rem;
    border: solid black 1px;
    padding: 1rem;
}
.video-card-for-playlist-parent img{
    height:50px;
    padding-left: 2rem;
}
.video-details-for-playlist{
    font-size: 2rem;
}
.remove-from-playlist-icon{
    font-size: 2rem;
}
.remove-from-playlist-icon:hover{
    cursor: pointer;
    color: rgb(203, 0, 0);
}