.size-small{
    width: 250px;
    height: 50px;
    padding: 0;
}
.alert{
    background-color: rgb(55, 55, 55);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    border-radius: 0.5rem;
}
.alert-position{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9;
}
.alert-video-lib{
    background-color: rgb(65, 65, 65);
    border-radius: 0.2rem;
    border: solid 2px black;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}
